.gradle/
.idea/caches/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/shelf/
.idea/vcs.xml
.idea/workspace.xml
Selfie-Shot-v2.iml
app/.externalNativeBuild/
app/build/
app/src/androidTest/
app/src/test/
